* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*

/*general*/
/*body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
  color: #f2f2f2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 100%;
}

.img-box {
  text-align: right;
}

.flexcont {
  display: flex;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 1rem 0 2rem 0;
  text-align: center;
  justify-content: flex-start;
  align-content: center;
}

/*imagen centrada para cajas*/
.imganCentrada {
  margin: 1rem 0;
  max-width: 100%;
  display: block;
  margin: auto;
}
/*============================*/
/*header*/
/*header {
  background-color: #f2f2f2;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin: 0 0 0 1.5rem;
}

.nav__link {
  color: #0583f2;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
  opacity: 0.65;
}

/*===========================*/
/*Index*/

.gradiente {
  background: linear-gradient(#023e73, #0583f2);
  border-radius: 1rem;
}
/*.intro {
  background-color: #0583f2;
  padding: 3rem 0 3rem 0;
  font-weight: 700;
  color: #f2f2f2;
}

.intro h1 {
  font-size: 4rem;
  display: inline-block;
}

.intro p {
  font-size: 1.7rem;
  margin: 1.2rem 4rem 0 0;
  display: inline-block;
}

.secCaracteristicas {
  background-color: #f2f2f2;
  padding: 1.5rem;
}

.secCaracteristicas h2 {
  color: #0583f2;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin: 1rem 0 0 0;
}

.caract__box {
  margin: 1rem;
  padding: 1.5rem;
  justify-content: space-around;
  background-color: #0583f2;
  min-width: 10rem;
}

.caract__box h2 {
  font-weight: 400;
  color: #f2f2f2;
  margin: 0 0 1rem 0;
}

/*==========================*/
/*PAGINA SOFTWARE*/
.softwarepage {
  background-color: #f2f2f2;
}

.softwarepage h1 {
  color: #023e73;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.softwarepage h3 {
  color: #023e73;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.soft__box {
  margin: 1rem 3rem;
  padding: 1rem;
  justify-content: space-around;
  background-color: #023e73;
  min-width: 10rem;
}

.soft__box h2 {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 700;
  margin: 0.3rem 0 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.soft__box p {
  text-decoration: none;
  color: #f2f2f2;
  margin: 1rem 0;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
}

/*==========================*/
/*PAGINA Precios*/
.pricepage {
  background-color: #0583f2;
}

.pricepage p {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.price__box {
  margin: 1.5rem;
  padding: 1rem;
  justify-content: space-around;
  background-color: #f2f2f2;
  min-width: 14rem;
}

.price__box h2 {
  text-decoration: none;
  color: #023e73;
  margin: 1rem 0;
  font-size: 2rem;
  text-align: center;
}

.price__box p {
  text-decoration: none;
  color: #023e73;
  margin: 1rem 0;
  font-size: 1rem;
}

/*==========================*/
/*PAGINA Nosotros*/
/*.nosotros {
  background-color: #0583f2;
  color: #f2f2f2;
  display: flex;
}

.nosotros__text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.nosotros__text p {
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0 0 0;
  text-indent: 5rem;
}

.nosotros img {
  max-width: 80%;
  justify-content: flex-end;
}

.section--map {
  background-color: #0583f2;
}

.map {
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.section--map p {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 3rem 4rem 0 0;
  color: #f2f2f2;
  text-align: center;
}

/*==========================*/
/*Contacto*/
.contacto {
  background-color: #0583f2;
  font-size: 1.1rem;
}

.contacto h1 {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}

.formulario {
  background-color: #023e73;
  padding: 2rem;
  margin: 3rem;
  color: #f2f2f2;
  text-align: center;
}
.formulario div {
  margin: 1.5rem;
}

.formulario input {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  font-family: "Montserrat", sans-serif;
}

.formulario textarea {
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  padding: 0.8rem;
}

/*==========================*/
/*FOOTER*/
/*.footer {
  background: linear-gradient(#023e73, #f2f2f2);
}

/*.footer {
  padding-top: 0rem;
  background-color: #023e73;
}

.footer-sm {
  background-color: #023e73;
  color: #f2f2f2;
}

.footer-sm a {
  color: #f2f2f2;
}

.footer-sm a i {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.footer-sm__icons {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.3rem;
}

.footer-bottom {
  padding: 1rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
  font-weight: 400;
}

.footer-bottom__copyright a {
  color: gray;
  text-decoration: none;
}

.footer-bottom__copyright a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}
